<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts.js" defer></script>
</head>
<body>
    <div>
        <% if(folder){ %>
            <div style="margin-bottom: 10px;"><%= folder.name %></div>
            <% if(folder.children.length > 0){ %>
                <% for(let i=0;i< folder.children.length;i++){ %>
                    <div style="margin-left: 20px;margin-top: 10px; margin-bottom: 10px;">
                        <a href="/drive/<%= folder.children[i].id %>" >
                            <%= folder.children[i].name %>
                        </a>
                    
                    </div>
                <% } %>
            <% } %>
            <% if(folder.file.length > 0){ %>
                <% for(let i=0;i< folder.file.length;i++){ %>
                    <div style="margin-left: 20px;margin-top: 10px; margin-bottom: 10px;">
                        <a href="/drive/file/<%= folder.file[i].id %>" >
                            <%= folder.file[i].name %>
                        </a>
                    
                    </div>
                <% } %>
            <% } %>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <button onclick="toggleForm()" type="button">Add folder</button> 
            </div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <button onclick="toggleFileForm()" type="button">Add file</button> 
            </div>
            <% if(folder.parentid){ %>
                <div><a href="/drive/<%= folder.parentid %>" >Back</a> </div>
            <% } %>
            
        <% } %>
    </div>
    <div id="folderForm" style="display: none;">
        <form method="post" action="/drive/create">
            <input type="hidden" name="parentid" value=<%= folder.id %>>
            <div>Create Folder</div>
            <label for="name">Folder Name</label>
            <input type="text" name="name">
            <button type="submit">Create</button>

        </form>

    </div>
    <div id="fileForm" style="display: none;">
        <form method="post" action="/drive/file/create">
            <input type="hidden" name="parentid" value=<%= folder.id %>>
            <div>Create file</div>
            <input type="file" name="file">
            <button type="submit">Create</button>

        </form>

    </div>
</body>
</html>